<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>景点介绍</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<!-- 头部内容 -->
<div class="header relative">
    <a href="">
        <h1 class="logo">看得见风景的车</h1>
        <img class="banner" src="../img/delete/banner.png" alt="">
        <span class="title"></span>
    </a>
</div>

<!-- 游客风采 -->
<div class="tourist inner">
    <div class="tourist-des">
        <p class="f14 tc">1月</p>
        <div class="tourist-info tc relative">
            <p>位于拉萨当雄县和那曲班戈县之间，在拉萨的西北方向约200公里处，是世界上海拔最高的咸水湖，海拔4718m，东西长70km，南北宽30km，面积1920km2，是西藏最大的湖泊，朝圣者心目中的圣地。</p>
            <span class="pos-text">西藏 · 拉萨 · 纳木错</span>
        </div>
    </div>
    <div class="tourist-list">
        <div class="tourist-title">
            <p class="f24">游客风采</p>
            <div class="upload-pic relative">
                上传景区图片
                <input class="" type="file" value="">
            </div>
        </div>
        <div class="tourist-user">
            <ul>
                <li>
                    <div class="user-share">
                        <div class="clearfix">
                            <img class="fl user-avatar" src="../img/delete/June.png" alt="">
                            <span class="user-name fl">138****2321</span>
                        </div>
                        <div class="share-pic">
                            <img src="../img/delete/tourist-upload1.png" alt="">
                            <p>这次游玩真的非常开心，西藏很美丽，下次还会来。再见西藏纳木错。</p>
                        </div>
                    </div>
                    <div class="user-share">
                        <div class="clearfix">
                            <img class="fl user-avatar" src="../img/delete/July.png" alt="">
                            <span class="user-name fl">138****2321</span>
                        </div>
                        <div class="share-pic">
                            <img src="../img/delete/tourist-upload2.png" alt="">
                            <p>这次游玩真的非常开心，西藏很美丽，下次还会来。再见西藏纳木错。</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="user-share">
                        <div class="clearfix">
                            <img class="fl user-avatar" src="../img/delete/May.png" alt="">
                            <span class="user-name fl">138****2321</span>
                        </div>
                        <div class="share-pic">
                            <img src="../img/delete/tourist-upload3.png" alt="">
                            <p>这次游玩真的非常开心，西藏很美丽，下次还会来。再见西藏纳木错。</p>
                        </div>
                    </div>
                    <div class="user-share">
                        <div class="clearfix">
                            <img class="fl user-avatar" src="../img/delete/March.png" alt="">
                            <span class="user-name fl">138****2321</span>
                        </div>
                        <div class="share-pic">
                            <img src="../img/delete/tourist-upload4.png" alt="">
                            <p>这次游玩真的非常开心，西藏很美丽，下次还会来。再见西藏纳木错。</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="../lib/less.min.js"></script>
</body>
</html>