<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>景点介绍</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<section class="lucky">

    <div class="inner">
        <!-- 头部内容 -->
        <div class="lucky-header  header relative">
            <div class="logo lucky-logo"></div>
            <div class="login fr clearfix">
                <img class="fl" src="../img/delete/June.png" alt="">
                <span class="f14 fl login-name">138****2321</span>
                <span class="f14 fl login-out">退出</span>
            </div>
        </div>

        <div class="lucky-title"></div>

        <!-- 抽奖 -->
        <div class="lucky-rotate">
            <div class="rotate-img">
                <img src="../img/rotate.png" class="rotating">
                <div class="lucky-pointer">
                    <img src="../img/lucky.png">
                </div>
            </div>
        </div>

        <!-- 抽到奖励弹框 -->
        <div class="lucky-win-prize none">
            <!-- 更换文字 -->
            <div class="winner-text">
                <p class=""></p>
            </div>
            <!-- 更换奖品&&文字 -->
            <div class="winner">
                <span class="win-ticket"></span>
            </div>
            <p class="win-prize"></p>
            <!-- 更换按钮文字 -->
            <div class="win-btn">
                <p class="share-btn">立即领取</p>
                <p class="again-btn none">再抽一次</p>
                <p class="none-time none">您的抽奖次数已用完</p>
            </div>
            <!-- 关闭按钮 -->
            <div class="close-layer"></div>
        </div>

        <!-- 活动规则&&中奖名单 -->
        <div class="lucky-rule">
            <div class="rule-list relative">
                <span class="rule-name"></span>
                <p class="rule-des gray-color">
                    规则具有普遍性，规则也指大自然的变化规律。它存在三种形式：明规则、潜规则、元规则，无论何种规则只要违背善恶的道德必须严惩不贷以维护世间和谐；明规则是有明文规定的规则，存在需要不断完善的局限性；潜规则是无明文规定的规则，约定俗成无局限性，可弥补明规则不足之处；元规则是一种以暴力竞争解决问题的规则，善恶参半，非道德之理的文明之道</p>
            </div>
            <div class="rule-list relative">
                <span class="lucky-name"></span>
                <div class="lucky-list lucky-head">
                    <span class="username gray-color">用户名</span>
                    <span class="lucky-date gray-color">中奖时间</span>
                    <span class="lucky-pirze gray-color">奖品</span>
                </div>
                <div class="lucky-list-wrap">
                    <ul class="scoll-list-wrap">
                        <li class="lucky-list">
                            <span class="username">137****4567</span>
                            <span class="lucky-date">2018-01-12  19:56:45</span>
                            <span class="lucky-pirze">打伞</span>
                        </li>
                        <li class="lucky-list">
                            <span class="username">137****4567</span>
                            <span class="lucky-date">2018-01-12  19:56:45</span>
                            <span class="lucky-pirze">的年少弄</span>
                        </li>
                        <li class="lucky-list">
                            <span class="username">137****4567</span>
                            <span class="lucky-date">2018-01-12  19:56:45</span>
                            <span class="lucky-pirze">旅但无穷多无</span>
                        </li>
                        <li class="lucky-list">
                            <span class="username">137****4567</span>
                            <span class="lucky-date">2018-01-12  19:56:45</span>
                            <span class="lucky-pirze">的撒大无</span>
                        </li>
                        <li class="lucky-list">
                            <span class="username">137****4567</span>
                            <span class="lucky-date">2018-01-12  19:56:45</span>
                            <span class="lucky-pirze">大的</span>
                        </li>
                        <li class="lucky-list">
                            <span class="username">137****4567</span>
                            <span class="lucky-date">2018-01-12  19:56:45</span>
                            <span class="lucky-pirze">的撒大无</span>
                        </li>
                        <li class="lucky-list">
                            <span class="username">137****4567</span>
                            <span class="lucky-date">2018-01-12  19:56:45</span>
                            <span class="lucky-pirze">打到我</span>
                        </li>
                        <li class="lucky-list">
                            <span class="username">137****4567</span>
                            <span class="lucky-date">2018-01-12  19:56:45</span>
                            <span class="lucky-pirze">大叔大无</span>
                        </li>
                        <li class="lucky-list">
                            <span class="username">137****4567</span>
                            <span class="lucky-date">2018-01-12  19:56:45</span>
                            <span class="lucky-pirze">和是个好人</span>
                        </li>
                        <li class="lucky-list">
                            <span class="username">137****4567</span>
                            <span class="lucky-date">2018-01-12  19:56:45</span>
                            <span class="lucky-pirze">公司的个</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- 底部背景-->
    <div class="lucky-bottom">
        <img src="../img/lucky-bottom.png" alt="">
    </div>

</section>

<!-- 遮罩 -->
<div class="lucky-layer none"></div>

<!-- 二维码登录 -->
<div class="login-code pos-center none">
    <div class="code-wrap">
        <img src="../img/code.png" alt="">
        <p>扫码登录后</p>
        <p>即可开始抽奖</p>
    </div>
    <div class="close-layer"></div>
</div>

<!-- 首次抽奖显示问答层 -->
<div class="question-layer none">
    <div class="question-tilte">
        <p>您只需回答几个问题</p>
        <p>便可以轻松抽奖</p>
    </div>
    <div class="question-list">
        <ul>
            <li>
                <p class="tilte-color">1.以下哪个选项符合汉腾品牌描述？</p>
                <div class="answer-one choose-answer">
                    <span class="only-choose flex5"><i class="choose-icon"></i>新梦想 新座驾</span>
                    <span class="only-choose flex5"><i class="choose-icon"></i>看得见风景的车</span>
                </div>
            </li>
            <li>
                <p class="tilte-color">2.以下哪个选项是汉腾汽车车型？</p>
                <div class="answer-two choose-answer">
                    <span class="only-choose"><i class="choose-icon"></i>X7</span>
                    <span class="only-choose"><i class="choose-icon"></i>X5</span>
                    <span class="only-choose"><i class="choose-icon"></i>X7S</span>
                    <span class="only-choose"><i class="choose-icon"></i>X7 PHEV</span>
                </div>
            </li>
            <li>
                <p class="tilte-color">3.以下哪个选项符合汉腾汽车车型描述？</p>
                <div class="answer-three choose-answer">
                    <span class="only-choose"><i class="choose-icon"></i>X7/X7S欧派大SUV</span>
                    <span class="only-choose"><i class="choose-icon"></i>X5新生代 品智SUV</span>
                    <span class="only-choose"><i class="choose-icon"></i>X7 PHEV 三擎四驱智能SUV</span>
                </div>
            </li>
        </ul>

    </div>
    <div class="question-btn">提&nbsp;&nbsp;&nbsp;交</div>
    <div><img class="close-layer close-question" src="../img/close.png"></div>
</div>

<script src="../lib/jquery.min.js"></script>
<script src="../lib/less.min.js"></script>
<script src="../lib/jquery.rotate.js"></script>
<script src="../js/lucky.js"></script>

<script>
    $(function () {

        // 问题选择
        $('.choose-answer').on('click', '.only-choose', function () {
            $(this).addClass('choose-bgc').siblings().removeClass('choose-bgc');
        });

        $('.close-question').on('click', function () {
            $('.lucky-layer').hide();
            $('.question-layer').hide();
        });

        // 中奖滚动
        var scroll = setInterval('autoScroll(".lucky-list-wrap")', 1000);
        $(".lucky-list-wrap").hover(function () {
            clearInterval(scroll);
        }, function () {
            scroll = setInterval('autoScroll(".lucky-list-wrap")', 1000);
        });
    });

    function autoScroll(obj) {
        $(obj).find("ul").animate({
            marginTop: "-39px"
        }, 1000, function () {
            $(this).css({marginTop: "0px"}).find("li:first").appendTo(this);
        })
    }
</script>
</body>
</html>