@charset "UTF-8";
/* ------------------------------------------------------------ */
/* ----- px2rem ----- */
body,
html {
  line-height: 1;
  color: #424242;
  background: #ffffff;
  font-size: 12px;
  font-weight: 200;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'HelveticaNeue-Light', 'Arial', 'sans-serif';
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.header {
  overflow: hidden;
  position: relative;
}
.header,
.header .poster-img {
  width: 100%;
  height: 5.33333333rem;
}
.header .logo-text {
  font-size: 0.53333333rem;
  color: #ffffff;
  position: absolute;
  right: 0.26666667rem;
  top: 0.53333333rem;
}
.header .activity {
  width: 100%;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  font-size: 0.4rem;
  display: flex;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.header .activity .activity-text {
  flex: 7;
  margin-left: 0.26666667rem;
}
.header .activity .activity-in {
  flex: 3;
  margin-right: 0.26666667rem;
  background: url("../img/activity.png") no-repeat center;
}
.header .activity .activity-in .activity-btn {
  font-size: 0.34666667rem;
  margin-left: 34px;
}
.logo {
  width: 1.64rem;
  height: 1.16rem;
  position: absolute;
  top: 0;
  left: 0.56rem;
  text-indent: -999em;
  background: url("../img/logo.png") no-repeat;
  background-size: 100% 100%;
}
.content {
  padding: 0.53rem 0.26rem 0.53rem 0.26rem;
}
.content .content-list a {
  height: 2.93333333rem;
  padding: 0.26rem;
  margin-bottom: 0.13333333rem;
  border-radius: 20px;
  border: 1px solid #c9c9c9;
  display: flex;
}
.content .content-list a .month-img {
  flex: 5;
}
.content .content-list a .month-img > img {
  width: 4.93333333rem;
  height: 2.93333333rem;
  border-radius: 20px;
}
.content .content-list a .month-des {
  flex: 5;
  padding-left: 0.26666667rem;
  padding-top: 0.53333333rem;
  position: relative;
}
.content .content-list a .month-des .february {
  font-size: 0.4rem;
  font-weight: bolder;
}
.content .content-list a .month-des .february-city {
  font-size: 0.32rem;
  font-weight: bolder;
}
.content .content-list a .month-des .february-open {
  margin-top: 0.13333333rem;
  font-size: 0.29333333rem;
  color: #8c8c8c;
}
.content .content-list a .month-des .open-attractions {
  width: 1.86666667rem;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  font-size: 0.26666667rem;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  background: #8b8b8b;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.content .content-list li:last-child {
  margin-bottom: 0rem;
}
.scenery {
  padding: 0.53rem 0.26rem 0.53rem 0.26rem;
}
.scenery .activity-des {
  font-size: 26px;
  line-height: 50px;
  padding: 40px 30px 20px 30px;
  color: #909090;
  border-radius: 20px;
  border: 1px solid #b2b2b2;
  position: relative;
}
.scenery .activity-des .activity-title {
  width: 5.33333333rem;
  text-align: center;
  font-size: 30px;
  color: #424242;
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translate(-50%, 0);
  background: #ffffff;
}
.scenery .tourist {
  position: relative;
}
.scenery .tourist-tilte {
  width: 100%;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  font-size: 0.53333333rem;
  margin-top: 0.53333333rem;
  text-align: center;
  background: url("../img/custom.png") no-repeat center;
}
.scenery .upload-img {
  float: right;
  width: 3.73333333rem;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  font-size: 0.32rem;
  margin: 0.26rem 0;
  color: #ffffff;
  text-align: center;
  background: #b4302c;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.scenery .tourist-list .item {
  padding: 0.26rem 0;
  display: flex;
  font-size: 26px;
  border-bottom: 1px solid #ececec;
}
.scenery .tourist-list .item-info {
  flex: 6;
  padding-left: 0.26666667rem;
}
.scenery .tourist-list .user-info {
  display: flex;
  height: 1.06666667rem;
}
.scenery .tourist-list .user-img {
  flex: 4;
  text-align: right;
}
.scenery .tourist-list .user-img > img {
  width: 3.73333333rem;
  height: 2.4rem;
}
.scenery .tourist-list .user-avatar {
  flex: 2;
}
.scenery .tourist-list .user-avatar,
.scenery .tourist-list .user-avatar > img {
  width: 1.06666667rem;
  height: 1.06666667rem;
  border-radius: 50%;
}
.scenery .tourist-list .user-name {
  flex: 8;
  line-height: 24px;
  padding-left: 0.26666667rem;
}
.scenery .tourist-list .user-name .user-phone {
  font-size: 30px;
  margin-top: 14px;
}
.scenery .tourist-list .user-name .user-date {
  margin-top: 10px;
  font-size: 22px;
  color: #909090;
}
.scenery .tourist-list .user-des {
  padding-right: 0.26666667rem;
  margin-top: 20px;
  font-size: 24px;
  line-height: 40px;
}
.scenery .tourist-list .user-comment {
  max-height: 136px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.lucky-wrapper {
  background: url("../img/lucky-bgc.png");
}
.lucky-wrapper .logo-wrap {
  height: 1.16rem;
  margin-bottom: 20px;
}
.lucky-wrapper .activity-rule {
  width: 2rem;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  margin: 20px 30px 0 0;
  float: right;
  color: #4a5059;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #bdbdbf;
}
.lucky-wrapper .lucky-title {
  width: 5.42666667rem;
  height: 1.8rem;
  margin: 0 auto;
  background: url("../img/title.png") no-repeat;
}
.lucky-wrapper .lucky-user {
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.lucky-wrapper .lucky-user .lucky-list {
  color: #5b5c60;
  padding: 10px 30px;
  line-height: 30px;
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #9f9fa1;
}
.lucky-wrapper .lucky-rotate {
  width: 100%;
  height: auto;
  position: relative;
}
.lucky-wrapper .rotate-img {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.lucky-wrapper .rotate-img > img,
.lucky-wrapper .lucky-pointer > img {
  width: 100%;
}
.lucky-wrapper .lucky-pointer {
  width: 30%;
  height: auto;
  position: absolute;
  top: 25vw;
  left: 35vw;
}
.lucky-wrapper .lucky-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 500;
  top: 0px;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}
.lucky-wrapper .lucky-rotate-rule,
.lucky-wrapper .lucky-win-prize {
  width: 80%;
  height: auto;
  position: fixed;
  z-index: 600;
  top: 22%;
  left: 10%;
  display: none;
}
.lucky-wrapper .close-layer {
  width: 12%;
  position: absolute;
  z-index: 601;
  top: -13vw;
  right: -17px;
}
.lucky-wrapper .win-prize {
  color: #fff;
  font-size: 30px;
}
.lucky-wrapper .lucky-bottom {
  width: 100%;
  height: 3.78666667rem;
  position: relative;
  background: url("../img/lucky-bottom.png") no-repeat;
}
.lucky-wrapper .lucky-bottom .activity-car {
  position: absolute;
  right: 100px;
  bottom: 0;
}
