@charset "UTF-8";
/* ------------------------------------------------------------ */
/* ----- px2rem ----- */
.header {
  overflow: hidden;
  position: relative;
}
.header,
.header .poster-img {
  width: 100%;
  height: auto;
}
.header .logo-text {
  font-size: 40px;
  color: #ffffff;
  position: absolute;
  right: 0.26666667rem;
  top: 0.53333333rem;
}
.header .activity {
  width: 100%;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  font-size: 30px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.header .activity .activity-text {
  margin-left: 0.26666667rem;
}
.header .activity .activity-in {
  height: 80px;
}
.header .activity .activity-in .activity-btn {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  background: #b8312e;
  box-shadow: 0 1px 5px #b8312e;
  padding: 0 40px 0 20px;
  position: relative;
  border-radius: 6px;
  margin-right: 0.26rem;
}
.header .activity .activity-in .activity-btn:after {
  content: '';
  width: 0.13333333rem;
  height: 0.21333333rem;
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -8px;
  background: url("../img/activity-gt.png") no-repeat;
}
.logo {
  width: 1.64rem;
  height: 1.16rem;
  position: absolute;
  top: 0;
  left: 0.56rem;
  text-indent: -999em;
  background: url("../img/logo.png") no-repeat;
  background-size: 100% 100%;
}
.content {
  padding: 0.53rem 0.26rem 0.53rem 0.26rem;
}
.content .content-list li {
  height: 2.93333333rem;
  padding: 0.26rem;
  margin-bottom: 0.13333333rem;
  border-radius: 8px;
  border: 1px solid #c9c9c9;
  position: relative;
}
.content .content-list li .month-img > img {
  width: 4.93333333rem;
  height: 2.93333333rem;
  border-radius: 8px;
  box-shadow: 0 1px 10px rgba(17, 17, 57, 0.2);
}
.content .content-list li .month-des {
  padding-left: 20px;
  position: relative;
  color: #8c8c8c;
  font-size: 28px;
}
.content .content-list li .month-des > p {
  margin-top: 0.26666667rem;
}
.content .content-list li .month-des > p > span {
  color: #333;
}
.content .content-list li .month-des .activity-open {
  font-size: 22px;
}
.content .content-list li .open-attractions {
  width: 1.86666667rem;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  bottom: 0.26rem;
  right: 0.26rem;
  color: #ffffff;
  background: #8b8b8b;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.content .content-list li:last-child {
  margin-bottom: 0rem;
}
.scenery {
  padding: 0.53rem 0.26rem 0.53rem 0.26rem;
}
.scenery .activity-des {
  font-size: 26px;
  line-height: 50px;
  padding: 40px 30px 20px 30px;
  color: #909090;
  border-radius: 20px;
  border: 1px solid #b2b2b2;
  position: relative;
}
.scenery .activity-des .activity-title {
  color: #333;
  text-align: center;
  font-size: 30px;
  padding: 4px 24px;
  background: #ffffff;
  position: absolute;
  left: 50%;
  top: -28px;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.scenery .tourist {
  position: relative;
}
.scenery .tourist-tilte {
  width: 100%;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  font-size: 36px;
  margin-top: 0.53333333rem;
  text-align: center;
  background: url("../img/custom.png") no-repeat center;
}
.scenery .upload-img {
  float: right;
  width: 3.73333333rem;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  font-size: 24px;
  margin: 0.26rem 0;
  color: #ffffff;
  text-align: center;
  background: #b4302c;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.scenery .tourist-list .item {
  padding: 0.26rem 0;
  display: flex;
  font-size: 26px;
  border-bottom: 1px solid #ececec;
}
.scenery .tourist-list .item-info {
  flex: 6;
  padding-left: 0.26666667rem;
}
.scenery .tourist-list .user-info {
  display: flex;
  height: 1.06666667rem;
}
.scenery .tourist-list .user-img {
  flex: 4;
  text-align: right;
}
.scenery .tourist-list .user-img > img {
  width: 3.73333333rem;
  height: 2.4rem;
}
.scenery .tourist-list .user-avatar {
  flex: 2;
}
.scenery .tourist-list .user-avatar,
.scenery .tourist-list .user-avatar > img {
  width: 1.06666667rem;
  height: 1.06666667rem;
  border-radius: 50%;
}
.scenery .tourist-list .user-name {
  flex: 8;
  line-height: 24px;
  padding-left: 0.26666667rem;
}
.scenery .tourist-list .user-name .user-phone {
  font-size: 30px;
  margin-top: 14px;
}
.scenery .tourist-list .user-name .user-date {
  margin-top: 10px;
  font-size: 22px;
  color: #909090;
}
.scenery .tourist-list .user-des {
  padding-right: 0.26666667rem;
  margin-top: 20px;
  font-size: 24px;
  line-height: 40px;
}
.scenery .tourist-list .user-comment {
  max-height: 136px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.lucky-wrapper {
  background: url("../img/lucky-bgc.png");
  background-size: 100% 100%;
}
.lucky-wrapper .close-btn {
  width: 0.96rem;
  height: 0.96rem;
  position: absolute;
  top: -1.46666667rem;
  right: 0.13333333rem;
  z-index: 2000;
}
.lucky-wrapper .close-question {
  top: -14vw;
  right: 2vw;
}
.lucky-wrapper .logo-wrap {
  height: 1.16rem;
  margin-bottom: 20px;
}
.lucky-wrapper .activity-rule {
  width: 2rem;
  height: 0.66666667rem;
  line-height: 0.66666667rem;
  margin: 20px 30px 0 0;
  float: right;
  color: #4a5059;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #9f9fa1;
}
.lucky-wrapper .lucky-rotate-rule .rule-des {
  width: 8.30666667rem;
  height: 7.97333333rem;
  margin-left: -4.14666667rem;
  margin-top: -3.98666667rem;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1001;
  box-sizing: border-box;
  background: url("../img/rule-bgc.png") no-repeat;
  background-size: 100% 100%;
}
.lucky-wrapper .lucky-rotate-rule .rule-title {
  height: 1.33333333rem;
  line-height: 1.33333333rem;
  font-size: 30px;
  color: #4b5058;
  text-align: center;
}
.lucky-wrapper .lucky-rotate-rule .rule-wrap {
  padding: 0 60px;
  line-height: 40px;
  color: #333;
}
.lucky-wrapper .lucky-rotate-rule .rule-text {
  font-size: 24px;
}
.lucky-wrapper .lucky-title {
  width: 5.42666667rem;
  height: 1.8rem;
  margin: 0 auto;
  background: url("../img/title.png") no-repeat;
  background-size: 100% 100%;
}
.lucky-wrapper .lucky-user {
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  margin-bottom: 28px;
}
.lucky-wrapper .lucky-user .lucky-list {
  color: #5b5c60;
  padding: 10px 30px;
  line-height: 34px;
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #9f9fa1;
}
.lucky-wrapper .lucky-user .lucky-name {
  width: 1.30666667rem;
  height: 0.18666667rem;
  margin: 0 auto;
  margin-bottom: 5px;
  background: url("../img/lucky-user.png") no-repeat;
  background-size: 100% 100%;
}
.lucky-wrapper .lucky-rotate {
  height: auto;
  position: relative;
  box-sizing: border-box;
  padding: 40px 0;
}
.lucky-wrapper .rotate-img {
  width: 7.57333333rem;
  height: 7.57333333rem;
  margin: 0 auto;
  position: relative;
}
.lucky-wrapper .rotate-img > img {
  width: 7.57333333rem;
  height: 7.57333333rem;
}
.lucky-wrapper .lucky-pointer > img {
  width: 2.4rem;
  height: 2.89333333rem;
}
.lucky-wrapper .lucky-pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lucky-wrapper .lucky-win-prize,
.lucky-wrapper .exceed-time {
  display: none;
  width: 8rem;
  height: 8.77333333rem;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1000;
  background-repeat: no-repeat;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lucky-wrapper .lucky-win-prize .winner > span,
.lucky-wrapper .exceed-time .winner > span,
.lucky-wrapper .lucky-win-prize .winner-text > p,
.lucky-wrapper .exceed-time .winner-text > p {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}
.lucky-wrapper .lucky-win-prize .winner > span,
.lucky-wrapper .exceed-time .winner > span {
  width: 100%;
  height: 1.6rem;
  margin-top: 2.66666667rem;
}
.lucky-wrapper .lucky-win-prize .winner-text > p,
.lucky-wrapper .exceed-time .winner-text > p {
  width: 100%;
  height: 0.44rem;
  margin-top: 0.53333333rem;
}
.lucky-wrapper .lucky-win-prize .win-text,
.lucky-wrapper .exceed-time .win-text {
  background-image: url("../img/win-text.png");
}
.lucky-wrapper .lucky-win-prize .sorry-text,
.lucky-wrapper .exceed-time .sorry-text {
  background-image: url("../img/sorry-text.png");
}
.lucky-wrapper .lucky-win-prize .win-ticket,
.lucky-wrapper .exceed-time .win-ticket {
  background-image: url("../img/win-ticket.png");
}
.lucky-wrapper .lucky-win-prize .win-redpackage,
.lucky-wrapper .exceed-time .win-redpackage {
  background-image: url("../img/win-redpackage.png");
}
.lucky-wrapper .lucky-win-prize .win-glass,
.lucky-wrapper .exceed-time .win-glass {
  background-image: url("../img/win-glass.png");
}
.lucky-wrapper .lucky-win-prize .win-carmodel,
.lucky-wrapper .exceed-time .win-carmodel {
  background-image: url("../img/win-car-model.png");
}
.lucky-wrapper .lucky-win-prize .win-outdoors,
.lucky-wrapper .exceed-time .win-outdoors {
  background-image: url("../img/win-outdoors.png");
}
.lucky-wrapper .lucky-win-prize .win-thanks,
.lucky-wrapper .exceed-time .win-thanks {
  background-image: url("../img/win-thanks.png");
}
.lucky-wrapper .lucky-win-prize .win-prize,
.lucky-wrapper .exceed-time .win-prize {
  height: 1.2rem;
  line-height: 1.2rem;
  color: #7e93a7;
  font-size: 30px;
  text-align: center;
}
.lucky-wrapper .lucky-win-prize .share-btn,
.lucky-wrapper .exceed-time .share-btn,
.lucky-wrapper .lucky-win-prize .again-btn,
.lucky-wrapper .exceed-time .again-btn,
.lucky-wrapper .lucky-win-prize .none-time,
.lucky-wrapper .exceed-time .none-time {
  width: 5.6rem;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  margin: 0 auto;
  color: #182430;
  font-size: 34px;
  border-radius: 4px;
  text-align: center;
  background: #7e93a7;
}
.lucky-wrapper .lucky-win-prize {
  background-image: url("../img/win-bgc.png");
  background-size: 100% 100%;
}
.lucky-wrapper .close-layer {
  width: 12%;
  position: absolute;
  z-index: 601;
  top: -13vw;
  right: -17px;
}
.lucky-wrapper .win-prize {
  color: #fff;
  font-size: 30px;
}
.lucky-wrapper .lucky-bottom {
  width: 100%;
  height: 272px;
}
.lucky-wrapper .lucky-bottom > img {
  width: 100%;
  height: auto;
}
.lucky-wrapper .lucky-layer {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 500;
  top: 0px;
  background: rgba(0, 0, 0, 0.8);
}
.lucky-wrapper .question-layer {
  width: 8.30666667rem;
  height: 12.6rem;
  margin-left: -4.14666667rem;
  margin-top: -6.29333333rem;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2000;
  background: url("../img/question-bgc.png") no-repeat;
  background-size: 100% 100%;
}
.lucky-wrapper .question-tilte {
  margin-top: 0.66666667rem;
  margin-bottom: 0.66666667rem;
  font-size: 30px;
  color: #6f8296;
  text-align: center;
}
.lucky-wrapper .question-tilte > p {
  margin-top: 0.16rem;
}
.lucky-wrapper .question-list {
  padding: 0 40px 0 60px;
  box-sizing: border-box;
  font-size: 24px;
  color: #333;
}
.lucky-wrapper .question-list .tilte-color {
  color: #838383;
}
.lucky-wrapper .question-list li {
  margin-bottom: 0.4rem;
}
.lucky-wrapper .question-list li:last-child {
  margin-bottom: 0.13333333rem;
}
.lucky-wrapper .question-list span {
  display: inline-block;
}
.lucky-wrapper .only-choose {
  width: 3.33333333rem;
  height: 0.85333333rem;
  line-height: 0.85333333rem;
}
.lucky-wrapper .choose-icon {
  width: 0.24rem;
  height: 0.24rem;
  margin-right: 0.26666667rem;
  display: inline-block;
  border: 1px solid #a8a9a9;
  border-radius: 50%;
  box-sizing: border-box;
}
.lucky-wrapper .choose-bgc .choose-icon {
  border: none;
  background-color: #3195ff;
}
.lucky-wrapper .answer-one,
.lucky-wrapper .answer-two,
.lucky-wrapper .answer-three {
  margin-top: 0.26666667rem;
}
.lucky-wrapper .answer-three span {
  display: block;
  width: auto;
  margin-top: 0;
}
.lucky-wrapper .question-btn {
  width: 3.46666667rem;
  height: 0.85333333rem;
  line-height: 0.85333333rem;
  text-align: center;
  font-size: 32px;
  color: #1b242f;
  margin: 0 auto;
  background: #8293a5;
  border-radius: 8px;
}
