<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="x5-orientation" content="portrait"/>
    <meta name="screen-orientation" content="portrait"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0">
    <title>景点介绍</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 弹性布局 -->
    <script src="../lib/flexible.js"></script>
</head>
<body>

<!-- 顶部banner -->
<section class="header">
    <h1 class="logo">汉腾汽车-看得见风景的车</h1>
    <img class="poster-img" src="../img/change/poster.png" alt="看得见风景的车">
    <h2 class="logo-text">看得见风景的车</h2>
</section>

<!-- 游客列表 -->
<section class="scenery">
    <div class="activity-des">
        <span class="activity-title">西藏 纳木错</span>
        <p>纳木错是世界上海拔最高的大型湖泊，湖面海拔4718米，为西藏第二大湖泊“纳木错”为藏语，蒙古语名称为“腾格里海”，都是“天湖”之意，纳木错是西藏的“三大圣湖”之一，是古象雄佛法雍仲本教的第一神湖。</p>
    </div>
    <div class="tourist">
        <h2 class="tourist-tilte">游客风采</h2>
    </div>
    <div class="clearfix">
        <div class="upload-img">上传景区照片</div>
    </div>
    <div class="tourist-list">
        <ul>
            <li class="item">
                <div class="item-info">
                    <div class="user-info">
                        <div class="user-avatar">
                            <img src="../img/change/upload.png" alt="">
                        </div>
                        <div class="user-name">
                            <p class="user-phone">151xxxx6789</p>
                            <p class="user-date">2018-01-18</p>
                        </div>
                    </div>
                    <div class="user-des">
                        <p class="user-comment">这次游玩很开心，西藏风景很美丽，希望有机会下次再来游玩下次再来游玩下次再来游玩</p>
                    </div>
                </div>
                <div class="user-img">
                    <img src="../img/change/upload.png" alt="">
                </div>
            </li>
            <li class="item">
                <div class="item-info">
                    <div class="user-info">
                        <div class="user-avatar">
                            <img src="../img/change/upload.png" alt="">
                        </div>
                        <div class="user-name">
                            <p class="user-phone">151xxxx6789</p>
                            <p class="user-date">2018-01-18</p>
                        </div>
                    </div>
                    <div class="user-des">
                        <p class="user-comment">这次游玩很开心，西藏风景很美丽，希望有机会下次再来游玩下次再来游玩下次再来游玩</p>
                    </div>
                </div>
                <div class="user-img">
                    <img src="../img/change/upload.png" alt="">
                </div>
            </li>
            <li class="item">
                <div class="item-info">
                    <div class="user-info">
                        <div class="user-avatar">
                            <img src="../img/change/upload.png" alt="">
                        </div>
                        <div class="user-name">
                            <p class="user-phone">151xxxx6789</p>
                            <p class="user-date">2018-01-18</p>
                        </div>
                    </div>
                    <div class="user-des">
                        <p class="user-comment">这次游玩很开心，西藏风景很美丽，希望有机会下次再来游玩下次再来游玩下次再来游玩</p>
                    </div>
                </div>
                <div class="user-img">
                    <img src="../img/change/upload.png" alt="">
                </div>
            </li>
            <li class="item">
                <div class="item-info">
                    <div class="user-info">
                        <div class="user-avatar">
                            <img src="../img/change/upload.png" alt="">
                        </div>
                        <div class="user-name">
                            <p class="user-phone">151xxxx6789</p>
                            <p class="user-date">2018-01-18</p>
                        </div>
                    </div>
                    <div class="user-des">
                        <p class="user-comment">这次游玩很开心，西藏风景很美丽，希望有机会下次再来游玩下次再来游玩下次再来游玩</p>
                    </div>
                </div>
                <div class="user-img">
                    <img src="../img/change/upload.png" alt="">
                </div>
            </li>
        </ul>
    </div>
</section>

</body>

</html>